<!DOCTYPE html>
<!-- 	
	This file is rendered by express.js, when the home url of the chat is opened in a browser.
 -->
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../css/common.css">
		<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">
	</head>
	<body>
		<header class="banner">
				<h1 class="bannertext">
					T-Game
				</h1>
		</header>
		<section>
			<!-- These elements are displayed as white info cards in the middle of the screen -->
			<div class="main">
				<div class="col">
					<img src="../img/unnamed.jpg" class='profileImg' />
				</div>	
				<div class="col">
					<h4>We need some information to let you play</h4>
					<form class="loginForm">
						<input type="text" id="userName" placeholder="Your nick name" /><br/>
						<input type="text" id="userEmail" placeholder="Your email address" /><br/>
						<span class="dropdown">
						    <select>
						        <option value="5">5x5</option>
						        <option value="20">20x20<option>
						        <option value="50">50x50</option>
						        <option value="100">100x100</option>
						        <option value="150">150x150</option>
						    </select>
						</span>
						<br/>
						<input type="submit" id="logSubmit" value="Play" />
					</form>
				</div>
			</div>
		</section>
		<section>
			<div class="main">
				<div class="col" id="scoreboard">
			        <ol class="user-list">
					</ol>
			    </div>
				<div class="class">
					<canvas id="game" width="500" height="500">
			        	This text is displayed if your browser does not support HTML5 Canvas.
			    	</canvas>
				</div>
			</div>
		</section>

		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="../js/moment.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="../js/game.js"></script>
		<script src="../js/client-manager.js"></script>
	</body>
</html>
