*:focus {outline: none;}
    body {
      background-color: #f0f1f3;
      color:#667073;
      font: 16px/1.3 'Arial',sans-serif;
    }

    .banner {
      height: 5em;
      background-color: #3c4446;
    }
    .bannertext {
      text-align:center;
      padding-top: 0.5em;
      font-family: 'Open Sans Condensed',serif;
      font-weight: bold;
      color:white;
    }
    .bannertext span {
      color: #d6441b;
    }

    .main {
      width: 97%;
        min-width: 50em;
      text-align:center;
      margin:1em;
      background-color: #ffffff;
      border-radius: 0.3em;
      box-shadow:0.1em 0.5em 0.3em #e3e4e6;
      color: #637277;
      display: inline-flex;
    }
    .main h2 {
      overflow: hidden;
    }

    .modal{
          padding: 0.2em;
          background-color: rgba(241,196,15,0.5);
          border-radius: 0.1em;
          text-align: center;
          font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
          font-size: 20px;
          z-index: 11;
      }

      .textModal{
        opacity: 0.7
      }


    .col{
      margin: 3em 0em 0em 15%;
    }

    .scoreboard{
      margin: 5em 9% 0em 3%;
    }
    .center{
      margin:2em 0em 2em 33%;
    }
    .profileImg {
      float: left;
      border-radius: 50%;
    }

    .red{
      background: #e60000;
      border-left-color: #e60000;
    }  
    .green{
      background: #009900;
      border-left-color: #009900;
    } 
    .blu{
      background: #3385ff;
      border-left-color: #3385ff;
    }
    .orange {
      background: #ff9900;
      border-left-color: #ff9900;
    } 
    .purple {
      background: #c61aff;
      border-left-color: #c61aff;
    } 

    .name{
      margin: 0em 0em 0em 2.5em;
    }
    .point{
      width: 1.5em;
      height: 1.5em;
      margin: 0em 0em 1em 0em;
      display: none;
    }

    .not {
   position:relative;
}
.not[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   top:-7px;
   right:-10px;
   font-size:.7em;
   background:green;
   color:white;
   width:18px;height:18px;
   text-align:center;
   line-height:18px;
   border-radius:50%;
   box-shadow:0 0 1px #333;
}

    .userList{
        list-style-type: none;
    }
    .gameBoard{
      margin:3em 0em 0em 5em;
    }

input[type="text"]{
	float: left;
    padding-left: 1em;
    background-color: #f0f1f3;
    border: 0.1em solid #d1d1d1;
    border-radius: 0.3em;
    box-shadow: 0em 0.2em 0.2em #e3e4e6;
    margin: 1em 1em 1em 4em;
    min-width: 20em;
    min-height: 2.4em;

}
 input[type="number"]{
  float: left;
    padding-left: 1em;
    background-color: #f0f1f3;
    border: 0.1em solid #d1d1d1;
    border-radius: 0.3em;
    box-shadow: 0em 0.2em 0.2em #e3e4e6;
    margin: 1em 1em 1em 1em;
    min-width: 11em;
    min-height: 2.4em;

}

.infoNum{
  float:left;
  margin:1em 0em 0em 3em;
}

input[type="submit"]{
	width: 8em;
    height: 3em;
    float: left;
    text-align: center;
    background-color: #73b4d4;
    display: block;
    margin: 1em 0em 2em 6em;
    border: none;
    border: 0.1em solid #d1d1d1;
    border-radius: 0.3em;
    box-shadow: 0em 0.2em 0.2em #e3e4e6;
	color:white;
	font-weight: bold;
	font-size: 1em;
	outline: none;
	cursor:pointer;
}



.dropdown {
  	position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

.dropdown select {
	    margin: 0em 0em 0em 1em;
    min-width: 21.3em;
    min-height: 2.7em;
  color: #637277;
  padding: .5em;
  padding-right: 2.5em;	
    background-color: #f0f1f3;
    border: 0.1em solid #d1d1d1;
    border-radius: 0.3em;
    box-shadow: 0em 0.2em 0.2em #e3e4e6;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
}

.dropdown::before,
.dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.dropdown::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.dropdown::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.dropdown select[disabled] {
  color: rgba(0,0,0,.3);
}

.dropdown select[disabled]::after {
  color: rgba(0,0,0,.1);
}

.dropdown::before {
  background-color: rgba(0,0,0,.15);
}

.dropdown::after {
  color: rgba(0,0,0,.4);
}